{% block randomwindow %}
<div id="randomWindow" class="random-window d-flex justify-content-center align-items-center">
    <!-- content window start -->
    <div class="col-md-10 content-window base-bg">
        <!-- window close button -->
        <div class="col d-flex justify-content-end">
            <button class="close-button c-close bg-transparent" hx-get="{% url 'support-menu' %}" hx-target="#randomWindow" hx-swap="outerHTML transition:true" hx-push-url="true">
                <i id="raw-close" class="fas fa-times text-danger"></i>
            </button>
        </div>
        <h4 class="ms-5 mx-auto">Generate User Report</h4>
        <!-- search and update button start -->
        <div class="col-md-10 mt-3 d-flex justify-content-around">
            <div class="col-md-5 ms-4">
                <form hx-post="{% url 'user-report' %}" hx-target="#randomWindow">
                    {% csrf_token %}
                    <label for="username" class="form-label mb-0">Username</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Customer's Username">
                        <button class="btn theme-btn" type="button" id="username">Search</button>
                    </div>
                </form>
            </div>
            <div class="col-md-5 ms-4"></div>
        </div>
        <!-- search and update button end -->


        <!-- seatch result table start -->
        <h5 class="ms-5 mx-auto mt-5">User Usage Report</h5>
        {% if user_accounting %}

        <div class="px-2">
            <table id="nonOrderListAble" class="text-nowrap w-100">
                <thead>
                    <tr>
                        <th data-priority="1" style="border-radius:5px 0px 0px 0px;">Username</th>
                        <th>Router Name</th>
                        <th>HotSpot Name</th>
                        <th>Mac Address</th>
                        <th>Session Start</th>
                        <th>Session Stop</th>
                        <th data-priority="2" style="border-radius:0px 5px 0px 0px;">Session Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in user_accounting %}
                    <tr>
                        <td>
                            <input type="checkbox" id="check-item" name="check-item">
                            {{ data.username }}
                        </td>
                        <td>{{ data.nasidentifier }}</td>
                        <td>{{ data.calledstationid }}</td>
                        <td>{{ data.callingstationid }}</td>
                        <td>{{ data.acctstarttime|date:'d-m-y h:m:s' }}</td>
                        <td>{{ data.acctstoptime|date:'d-m-y h:m:s' }}</td>
                        <td>{{ data.acctupdatetime|date:'d-m-y h:m:s' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <hr>
            <div class="px-2 text-center">
                <h5>No User Usage Report To Show.</h5>
            </div>
        {% endif %}

        <!-- seatch result table start -->
    </div>
    <!-- content window end -->
</div>
{% endblock randomwindow %}
